#container
{
	width: 960px;
	margin: 0px auto;
}

body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header
{
	background: #333;
	color: white;
	width: 100%;
	padding: 15px 0;
	text-align: center;
	border-radius: 8px;
}

h4
{
	color: aqua;
}

a
{
	text-decoration: none;
}

nav ul
{
	
	overflow: hidden;
	color: gray;
	padding: 0;
	text-align: center;
	margin: 2px 0;
}

nav ul li
{
	display: inline-block;
	padding: 20px;
	background-color: aqua;
	border-radius: 3px;
	margin: 2px 18px 10px;
	border: 1px solid gray;
	color: black;
}

nav ul li:hover
{
	
	box-shadow: 1px 1px 2px 2px gray;

}

#about
{
	background-color: rgb(225,0,132);
	border-radius: 30px;
	color: white;
}